.nav-bar{
  .label{
    margin-left: 80px;
    padding: 10px;
  }
  .input{
    padding: 10px;

    .MuiOutlinedInput-input{
      padding: 10px;
      color: #fff;
    }
  }
  .button{
    color: #ffffff;
  }
}
